p {
    font-family: arial;
}
.video-title{
    font-weight: bold;
    font-size: 18px;
    width: 280px;
    line-height: 24px;
    margin-bottom: 0;
}
.video-stats{
    font-size: 14px;
    color: #606060;
    margin-top: 5px;
    margin-bottom: 0;
}
.video-author{
    font-size: 14px;
    color : #606060;
    margin-top: 20px;
    margin-bottom: 0;
}
.video-discription{
    font-size: 14px;
    color : #606060;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 280px;
    line-height: 22px;
}
.apple-text{
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 14px;
    text-align: center;
    background-color: rgb(227,65,64);
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
}
.shop-now{
    cursor: pointer;
}
.shop-now:hover{
    text-decoration: underline;
}