.amazon-link{
    color: rgb(0,113,133);
    text-decoration: underline;
    transition: color 0.15s;
}
.product{
    font-size: 30px;
    font-weight: bolder;
}
.info{
    color: rgb(0,118,0);
    font-weight: bold;
}
.add-to-cart{
    background-color: rgb(255, 216, 20);
    height: 36px;
    border: none;
    width: 150px;
    border-radius: 18px;
    font-weight: bold;
    margin-right: 8px;
    transition: background-color 0.15s;
    cursor: pointer;
}
.buy-now{
    background-color: rgb(255,164,28);
    height: 36px;
    border: none;
    width: 150px;
    border-radius: 18px;
    font-weight: bold;
    transition: background-color 0.15s;
    cursor: pointer;
}
.amazon-link:hover{
    color: rgb(190, 92, 54);
}
.add-to-cart:hover{
    background-color: rgb(199, 169, 18);
}
.add-to-cart:active{
    opacity: 0.7;
}
.buy-now:hover{
    background-color: orangered;
}
.buy-now:active{
    opacity: 0.7;
}