.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-section{
  align-items: center;
  display: flex;
}
.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.right-section{
  background-color: lightblue;
  width: 200px;
}
.hamburger-menu{
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}
.youtube-logo{
  height: 20px;
}
.search-button{
  height: 40px;
  width: 66px;
  background-color: rgb(240,240,240);
  border-style: solid;
  border-color: rgb(187, 187, 187);
  border-width: 1px;
  margin-left: -1;
  margin-right: 10px;
}
.voice-search-button{
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 20px;
  background-color: rgb(245, 245, 245);
}
.search-bar{
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(187, 187, 187);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
}
.search-bar::placeholder{
  font-family: roboto, arial;
  font-size: 16px;
}
.search-icon{
  margin-top: 4px;
  height: 25px;
}